----------------------------------
<p>
  human works!
</p>
<!-- {{powers|json}} -->


<!-- <p *ngIf='myNumber > 15'>Over 15!</p>
<p *ngIf='myNumber > 10'>Over 10!</p> -->

<!-- <p *ngIf='powers.powerNumber'>{{powers[0].powerNumber}}</p>
<p *ngIf='powers.powerNumber'>The number is {{powers[0].powerNumber}}</p> -->
<!-- <app-human (aTaskEventEmitter)="dataFromPower($event)"> </app-human> -->

Human Power:{{myNumber}}
<p *ngIf = 'myNumber > 9 && myNumber <=20 '>Over 9!</p>
<p *ngIf = 'myNumber > 20 && myNumber <= 50'>Superlative!</p>
<p *ngIf = 'myNumber >= 50'>The One</p>

